<!DOCTYPE html>
<html>
<head>
<title>CATTSS Test Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <h1>Segment 6: Names transcription redo</h1>
    <div id="title"><h1>Welcome <%= id %></h1></div>
    <!--
    <p>Thank you for volunteering your time. This is an experiment to characterize how fast and accurate people are at using the CATTSS app. It should take about 15 minutes.</p>
    <p>You will begin by being briefly trained and then will complete a series of tasks.</p>
    <p id=user_specific_message"><%= message %></p>
    -->
    <p>Thank you for your time!</p>
    <p>There are 2 sessions in this segment. Please do each of them in an uninturrpted sitting, otherwise the timing collection will be inaccurate.</p>
    <p>You will be alerted when you're finished with a session. If not automatically redirected, use <b>menu -> exit </b> to return here when finished with a session.</p>
    <div id='apps'>
        <h2>Session 1: select transcription</h2>
        <p>Select the correct transcription for the highlighted word (or error/none). You will work in this mode for about 5 minutes.</p>
        <a href="/app-normal">Select transcription</a>   

        <h2>Session 2: manual transcription</h2>
        <p>Type the transcription. This is case insensitive and puctuation is ignored. You will work in this mode for about 5 minutes.</p>
        <a href="/app-line">Manual transcription</a>   
        <!--
        <a href="/app-normal-train">Full system (with training)</a> <br><br>
        <h2>Session 2: manual words only</h2>
        <p>You will work in this mode for about 4 minutes. You will only be presented with manual transcription batches.</p>
        <a href="/app-manual">Manual words only</a> <br><br>
        <h2>Session 3: manual lines</h2>
        <p>You will work in this mode for about 4 minutes. You will be manually transcribing lines, as opposed to words. (Transcribe what's highlighted, sometimes it only covers a partial line. That's just a ground truth error.)</p>
        <a href="/app-line">Manual lines</a> <br><br>
        -->
    </div>

    <p>Email <a href='mailto:briandavis@byu.net?Subject=Seg6 done'>Brian</a> when you're done.</p>
    
</div>
<br>

<form action="/logout" method="post">
    <input type="submit" value="Log out"/>
</form>
<br>
<h2>How CATTSS works</h2> 
<p>The system begins by looking for common letter combinations (subwords) like 'th' or 'er'. It can't do this very well by itself, so it passes subwords it is unsure about on to users.</p>
<p>When the computer has a few letters filled in for a word (think of the game "Wheel of Fortune" - some letters are known, some are blank), it creates a list of possible transcriptions for that word. If this list is reasonably small it passes it to a user to select the correct one.</p>
</body>
</html>
